[Unit]
Description=Fotobox Air and LED
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/fotobox/foto_startDone.py
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
